@mixin checkmark-icon($color) {
  // background-image: url('data:image/svg+xml;utf8,<svg ...><g stroke="#{$color}" ... /></g></svg>');
  background-image: url('data:image/svg+xml,<svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.3921 26.626C20.572 26.626 26.3921 20.8059 26.3921 13.626C26.3921 6.44608 20.572 0.625977 13.3921 0.625977C6.21219 0.625977 0.39209 6.44608 0.39209 13.626C0.39209 20.8059 6.21219 26.626 13.3921 26.626Z" fill="#{$color}"/><path d="M7.50879 14.4664L10.8706 17.8282L19.2751 9.42371" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

body {
  font-family: $text-main;
  font-size: 16px;
}

p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0.4em;
}

ul {
  & li {
    font-size: 18px;
  }
  &.is-style-red,
  &.is-style-blue,
  &.is-style-yellow,
  &.is-style-purple,
  &.is-style-orange,
  &.is-style-bright-blue {
    display: flex;
    flex-direction: column;
    gap: 15px;
    & li {
      display: flex;
      align-items: center;
      &::before {
        content: '';
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        background-size: contain;
        @include checkmark-icon('%23ff3951');
      }
    }
  }
  &.is-style-red {
    & li::before {
      @include checkmark-icon('%23ff3951');
    }
  }
  &.is-style-blue {
    & li::before {
      @include checkmark-icon('%233F80FD');
    }
  }
  &.is-style-yellow {
    & li::before {
      @include checkmark-icon('%23FFC226');
    }
  }
  &.is-style-purple {
    & li::before {
      @include checkmark-icon('%236A35FF');
    }
  }
  &.is-style-orange {
    & li::before {
      @include checkmark-icon('%23FF8139');
    }
  }
  &.is-style-bright-blue {
    & li::before {
      @include checkmark-icon('%233FCFFD');
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1 {
  font-size: 31px;
}

h2 {
  font-size: 26px;
  margin-top: 0;
  margin-block-end: 0.6em;
}

h3 {
  font-size: 20px;
  margin-top: 0;
}

h4 {
  font-size: 16px;
}

a {
  transition: color 0.1s;
  font-weight: 500;
  &:hover {
    color: var(--wp--preset--color--primary);
  }
}

.is-style-line-before {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  &::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: var(--wp--preset--color--primary);
    position: relative;
    border-radius: 1000px;
  }
}

.blog h4 {
  margin-top: 15px;
  margin-bottom: 10px;
}
