.container,
.is-style-container {
  padding: 0 20px;

  @include onlyDesktop {
    max-width: 1450px;
    margin: 0 auto;
  }
}

.wp-block-group {
  &.has-background {
    @include Mobile {
      padding: 20px;
    }
    &:has(.has-background) {
      overflow: hidden;
    }
  }
}

.wp-block-columns,
.wp-block-group {
  &.is-style-container {
    overflow-x: clip;
  }
}

div.wp-block-group.has-background {
  padding: 0;
}

.is-style-icon-background {
  display: block;
  width: fit-content;
  aspect-ratio: 1/1;
}

.is-style-logo-background {
  display: block;
  width: 100%;
}

.wp-block-columns {
  &.is-style-background-colors {
    position: relative;
    &::after {
      content: '';
      z-index: -1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 200%;
      height: 200%;
      background: url('assets/img/blur.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}

.wp-block-group {
  &.is-style-background-colors {
    position: relative;
    &::after {
      content: '';
      z-index: -1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-65%, -40%);
      width: 200%;
      height: 200%;
      background: url('assets/img/blur-2.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}
